<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card">
	<div class="thumbnail">
		<img src="http://placehold.it/350x350" alt="#">
		<div class="caption">
			<h3 class="card-title" ><%= posts[postIndex - 1].title %></h3>
			<h6 class="card-subtitle" ><%= posts[postIndex - 1].genre %></h6>
			<hr>
			<p class="card-text"><%= posts[postIndex - 1].description %></p>
		</div>
		<div class="post-meta">
		<article
			id="<%= posts[postIndex - 1].id %>"
			data-title="<%= posts[postIndex - 1].title %>"
			data-description="<%= posts[postIndex - 1].description %>"
			data-genre="<%= posts[postIndex - 1].genre %>"
			data-media-type="<%= posts[postIndex - 1].media_type %>"
			data-oriUrl="<%= posts[postIndex - 1].original_url %>"
			data-tbUrl="<%= posts[postIndex - 1].thumbnail_url %>"
			data-email="<%= posts[postIndex - 1].email %>"
			data-likes="<%= posts[postIndex - 1].count %>"
			data-rates="<%= posts[postIndex - 1].avg %>">
		</article>
		</div>
	</div>
</div>
