<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card element-item <%= posts[i].genre.split(', ').join(' ') %>" data-category="<%= posts[i].genre.split(', ').join(' ') %>">
	<div class="thumbnail">
		<img src="https://api.thumbnail.ws/api/abc09ea5664ab72e8e11609d4848beb3fd1da8afb56b/thumbnail/get?url=http%3A%2F%2F<%= posts[i].original_url %>%2F&width=500" alt="#">
		<div class="caption">
			<div class="card-title" ><strong><%= posts[i].title %></strong></div>
			<div class="card-subtitle" ><em><%= posts[i].genre %></em></div>
			<hr />
			<div class="preview">
				<div class="like-preview"><i class="fa fa-thumbs-up"></i>  <%= posts[i].count %></div>
				<%
					if (!posts[i].avg || posts[i].avg === 0) { %>
						<div class="rate-preview"><i class="fa fa-star"></i>  No rating</div>
					<% } else { %>
						<div class="rate-preview"><%= Number(posts[i].avg).toFixed(1) %> <i class="fa fa-star"></i></div>
					<% } %>
			</div>
			<hr>
			<div class="card-text"><%= posts[i].description %></div>

		</div>
		<div class="post-meta"
			data-id="<%= posts[i].id %>"
			data-title="<%= posts[i].title %>"
			data-description="<%= posts[i].description %>"
			data-genre="<%= posts[i].genre %>"
			data-media-type="<%= posts[i].media_type %>"
			data-oriUrl="<%= posts[i].original_url %>"
			data-tbUrl="<%= posts[i].thumbnail_url %>"
			data-email="<%= posts[i].email %>"
			data-likes="<%= posts[i].count %>"
			data-rates="<%= posts[i].avg %>">
			<% include ./_card_modal_comments %>
		</div>
	</div>
</div>
