<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card">
  <div class="thumbnail">
    <img src="https://api.thumbnail.ws/api/aba7ddeea00516301ccf735cb83cfb582bb8a1c9f763/thumbnail/get?url=http%3A%2F%2F<%= posts[postIndex - 1].original_url %>%2F&width=500" alt="#">
    <div class="caption">''
      <div class="card-title" ><strong><%= posts[postIndex - 1].title %></strong></div>
      <div class="card-subtitle" ><em><%= posts[postIndex - 1].genre %></em></div>
      <hr />
      <div class="preview">
        <div class="like-preview"><i class="fa fa-thumbs-up"></i>  <%= posts[postIndex - 1].count %></div>
        <%
          if (!posts[postIndex - 1].avg || posts[postIndex - 1].avg === 0) { %>
            <div class="rate-preview"><i class="fa fa-star"></i>  No rating</div>
          <% } else { %>
            <div class="rate-preview"><i class="fa fa-star"></i>  <%= Number(posts[postIndex - 1].avg).toFixed(1) %></div>
          <% } %>
      </div>
      <hr>
      <div class="card-text"><%= posts[postIndex - 1].description %></div>
    </div>
    <div class="post-meta"
      data-id="<%= posts[postIndex - 1].id %>"
      data-title="<%= posts[postIndex - 1].title %>"
      data-description="<%= posts[postIndex - 1].description %>"
      data-genre="<%= posts[postIndex - 1].genre %>"
      data-media-type="<%= posts[postIndex - 1].media_type %>"
      data-oriUrl="<%= posts[postIndex - 1].original_url %>"
      data-tbUrl="<%= posts[postIndex - 1].thumbnail_url %>"
      data-email="<%= posts[postIndex - 1].email %>"
      data-likes="<%= posts[postIndex - 1].count %>"
      data-rates="<%= posts[postIndex - 1].avg %>">

      <% include ./_card_modal_comments %>
    </div>
  </div>
</div>
